body {
  background-color: #61839d;
}

#weatherContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#weatherContainer div {
  width: 20%;
  text-align: center;
}

#forecastContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}